@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face { 
    font-family: karma; 
    src: url('/fonts/KarmaFuture.ttf');
}

@font-face { 
    font-family: monument; 
    src: url('/fonts/MonumentA.ttf');
}

